<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>

<body>
    <main class="main-div-box">

        <a href="/" class="main-div-h1">
            <h1>mySpotify</h1>
        </a>
        <section class="test">
            <div class="main-div">

                <form class="main-div-form" action="/artist-search" method="GET">
                    <div>
                        <input class="main-div-input" type="text" name="theArtistName" placeholder="Search...">
                    </div>
                    <div>
                        <button class="main-div-form-btn" type="submit">Search of an Artist</button>
                    </div>
                </form>
            </div>

            <div class="contacts">
                <div>
                    <a href="https://www.github.com/luismartires"><img class="contacts-img" src="/images/github.png"
                            alt=""></a>
                    <a href="https://www.linkedin.com/in/luismartires"><img class="contacts-img"
                            src="/images/linkedin.png" alt=""></a>
                    <a href="https://stackoverflow.com/story/luismartires"><img class="contacts-img"
                            src="/images/stack.png" alt=""></a>
                </div>
            </div>
        </section>
    </main>

    <article class="main-article-box">
        {{{ body }}}

    </article>

</body>

</html>